/* sheared styles */
.btn-primary{
    
}
/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    font-family: "Work Sans";
    color: #131313;
}

nav {
    padding: 50px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500 font-size: 18px;
    font-family: "Work Sans";
}

li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-family: "Work Sans";
    font-size: 64px;
    font-weight: 700;
    color:  #131313;
}

.banner-description {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    color:  #727272;
}